[submodule "BLAKE2"]
	path = BLAKE2
	url = git@github.com:BLAKE2/BLAKE2.git
[submodule "zephyr"]
	path = zephyr
	url = git@github.com:zephyrproject-rtos/zephyr.git
[submodule "central/zephyr"]
	path = central/zephyr
	url = git@github.com:maz3max/zephyr.git