# Kconfig - nRF51 Coin board configuration
#
# Copyright (c) 2019 Maximilian Deubel
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_NRF51_COIN

config BOARD
	default "nrf51_coin"

config BT_CTLR
	default BT

endif # BOARD_NRF51_COIN
